.align {
  margin-left: 7%;
  margin-right: 7%;
}

body{
  background-color: #fdfdfd;
}

.title{
  position: relative;
  height: 8px;
  left: 0px;
  top: auto;
  max-width: fit-content;
  
  font-family: Bebas Neue;
  font-style:inherit;
  font-weight: bolder;
  font-size: 235%;
  line-height: 43px;
  letter-spacing: 0.1em;
  color: #000000;
}

.ruler{
  position: relative;
  width: 100%;
  top: auto;
  border: 1.3px solid #000000;
}
.container{
  margin-top: 10px;
}

.accordion { 
  background-color: #fdfdfd;
  color: #333333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;    
  font-size: 17px;
  transition: 0.2s;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion2 {
  background-color: #fdfdfd;
  color: #1E2532;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal; 
  letter-spacing: 0.04em;   
  font-size: 17px;
  transition: 0.1s;
}

.active, .accordion:hover {
  background-color: #ffecd7;
  color: #000000;
  font-weight: bold;
}

.accordion:hover{
  border-radius: 16px;
}

.accordion:after {
  content:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><path d='M22 12l-20 12 7.289-12-7.289-12z'/></svg>") ;
  transform: rotate(90deg);
  color: #333333;
  float: right;
  margin-left: 5px;
}

.accordion2:after{
  content:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><path d='M22 12l-20 12 7.289-12-7.289-12z'/></svg>") ;
  transform: rotate(90deg);
  float:right;
}

.active:after {
  transform: rotate(-90deg);
 
}

.active.accordion2 , .accordion2:hover{
  font-weight: bold;
  background-color: #ffffff;
}


.card {
  font-family: Lato;
  color: #000000;
  font-style: normal;
  border-radius: 10px;
 
  font-weight: normal;
  padding: 0 18px;
  height: auto;
  background-color: white;
  /* box-shadow: 2px 2px 10px #a8a8a8; */
  /* filter: drop-shadow(0px 72px 176px rgba(63, 63, 63, 0.07)) drop-shadow(0px 21.7059px 53.0588px rgba(63, 63, 63, 0.0386578)) drop-shadow(0px 9.01552px 22.0379px rgba(63, 63, 63, 0.0198723)) drop-shadow(0px 3.26074px 7.97069px rgba(63, 63, 63, 0.00720662)); */
  filter: drop-shadow(0.4rem 0.3rem 0.6rem rgba(189, 188, 188, 0.5));
  border-radius: 16px;
  border-top-right-radius: 0 ;
  border-top-left-radius: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.card2{
  font-family: Lato;
  font-size: 13px;
  color: #000000;
  font-style: normal;  
  font-weight: normal;
  padding: 0 18px;
  height: auto;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.column {
  float: left;
  width: 33%;
}

.unilink{
    text-decoration: underline;
    color: #000000;
}

.Know{
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 100%;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #F16B58;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
table{
  width: 100%;
  max-width: 100%;
}
.col2{
width: 20%;
}
.image{
  width: 40%;
}
.card img{
  height: 100px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.card2 img{
  width: 199px;
height: 249px;
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
filter: drop-shadow(15.997px 6.39879px 44.7915px rgba(0, 0, 0, 0.25));
border-radius: 19.8365px;
}

.name{
  position: static;
left: 0%;
right: 25.76%;
top: 0%;
bottom: 2%;
font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 0.12em;
color: #333333;
}
.name-hr{
  position: static;
width: 80%;
height: 0px;
margin-left: 0px;
border: 1px solid #333333;
}

#second{
    margin-left: 100px;
    width: 20%;
}
table{
  width: 100%;
}
td{
  padding: 8px;
  padding-left: 0;
}

.column2{
  width: 50%;
}


#img2{
height: 150px;
}

@media (max-width:629px) {
  .image {
    display: none !important;
  }
  
  #second{
    margin-left: 0px;
    width: 50%;
  }
  .card{
    font-size: 12px;
  }
  .far{
    display: none !important;
  }
  .col2{
    width: 50%;
  }
  .accordion{
    transition: 0.05s !important;
  }
  .card{
    transition: max-height 0.05s ease-out !important;
  }
}
