.align {
    margin-left: 7%;
    margin-right: 7%;
}

body{
    background-color: #fdfdfd;
}

#title{
    position: absolute;
    width: 177px;
    height: 43px;
    left: 100px;
    top: 38px;
    
    font-family: Bebas Neue;
    font-style:inherit;
    font-weight: bolder;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.1em;
    
    color: #000000;
    }
    #ruler{
    position: absolute;
    width: 1065px;
    height: 0px;
    left: 100px;
    top: 97px;
    
    border: 1.3px solid #000000;
    }
.container{
    margin-top: 130px;
}

.accordion {
    
    background-color: #fdfdfd;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;    
    font-size: 17px;
    transition: 0.5s;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  
  .active, .accordion:hover {
    background-color: #ffecd7;
    color: #000000;
    font-weight: bold;
  }

  .accordion:hover{
    border-radius: 16px;
  }
  
  .accordion:after {
    content: '\2B9F';
    color: #333333;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    transform: rotate(-180deg);
   
  }


  .card {
    font-family: Lato;
    color: #000000;
    font-style: normal;
    border-radius: 10px;
   
    font-weight: normal;
    padding: 0 18px;
    height: 400px;
    background-color: white;

    filter: drop-shadow(0px 72px 176px rgba(63, 63, 63, 0.07)) drop-shadow(0px 21.7059px 53.0588px rgba(63, 63, 63, 0.0386578)) drop-shadow(0px 9.01552px 22.0379px rgba(63, 63, 63, 0.0198723)) drop-shadow(0px 3.26074px 7.97069px rgba(63, 63, 63, 0.00720662));

    
    border-radius: 16px;
    border-top-right-radius: 0 ;
    border-top-left-radius: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .column {
    float: left;
    width: 33%;
  }

  #unilink{
      text-decoration: underline;
      color: #000000;
  }

  #Know{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #F16B58;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img{
    height: 100px;
    margin-left: 80px;
  }

  #second{
      margin-left: 100px;
      width: 20%;
  }
#box{
        border:none;
        height: 20px;
        width: 100%;
        height: 50px;
        margin-top: 0;
        border-bottom: 1px solid #1f1209;
        box-shadow: 0 20px 20px -20px #333;
        margin: -50px auto 10px; 
}

#title2{
    position: absolute;
    width: 177px;
    height: 43px;
    left: 100px;
    top: auto;
    
    font-family: Bebas Neue;
    font-style:inherit;
    font-weight: bolder;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.1em;
    
    color: #000000;
    }
    #ruler2{
    position: absolute;
    width: 1065px;
    height: 0px;
    left: 100px;
    top: auto;
    margin-top: 73px;
    border: 1.3px solid #000000;
}
#img2{
  height: 150px;
}


