.align {
  margin-left: 7%;
  margin-right: 7%;
}

body{
  background-color: #fdfdfd;
}

.title{
  position: relative;
  height: 8px;
  left: 0px;
  top: auto;
  max-width: fit-content;
  
  font-family: Bebas Neue;
  font-style:inherit;
  font-weight: bolder;
  font-size: 235%;
  line-height: 43px;
  letter-spacing: 0.1em;
  color: #000000;
}

.ruler{
  position: relative;
  width: 100%;
  top: auto;
  border: 1.3px solid #000000;
}
.container{
  margin-top: 10px;
}

.accordion {
  
  background-color: #fdfdfd;
  color: #333333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;    
  font-size: 17px;
  transition: 0.5s;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.active, .accordion:hover {
  background-color: #ffecd7;
  color: #000000;
  font-weight: bold;
}

.accordion:hover{
  border-radius: 16px;
}

.accordion:after {
  content:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><path d='M22 12l-20 12 7.289-12-7.289-12z'/></svg>") ;
  transform: rotate(90deg);
  color: #333333;
  float: right;
  margin-left: 5px;
}

.active:after {
  transform: rotate(-90deg);
 
}


.card {
  font-family: Lato;
  color: #000000;
  font-style: normal;
  border-radius: 10px;
 
  font-weight: normal;
  padding: 0 18px;
  height: 400px;
  background-color: white;

  filter: drop-shadow(0px 72px 176px rgba(63, 63, 63, 0.07)) drop-shadow(0px 21.7059px 53.0588px rgba(63, 63, 63, 0.0386578)) drop-shadow(0px 9.01552px 22.0379px rgba(63, 63, 63, 0.0198723)) drop-shadow(0px 3.26074px 7.97069px rgba(63, 63, 63, 0.00720662));

  
  border-radius: 16px;
  border-top-right-radius: 0 ;
  border-top-left-radius: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.column {
  float: left;
  width: 33%;
}

#unilink{
    text-decoration: underline;
    color: #000000;
}

.Know{
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 100%;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #F16B58;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
table{
  width: 100%;
  max-width: 100%;
}
.col2{
width: 20%;
}
.image{
  width: 40%;
}
img{
  height: 100px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#second{
    margin-left: 100px;
    width: 20%;
}

#img2{
height: 150px;
}

@media (max-width:629px) {
  .image {
    display: none !important;
  }
  
  #second{
    margin-left: 0px;
    width: 50%;
  }
  .card{
    font-size: 12px;
  }
  .far{
    display: none !important;
  }
  .col2{
    width: 50%;
  }
}
